In [1]:
#data cleaning

In [73]:
import pandas as pd
import numpy as np

In [80]:
data = pd.read_csv('japanese.csv')

In [81]:
data.shape

(690, 16)

In [82]:
data.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0   +

In [83]:
data.describe()

,A2,A3,A8,A11,A14,A15
count,678.000000,690.000000,690.000000,690.00000,677.000000,690.000000
mean,31.568171,4.758725,2.223406,2.40000,184.014771,1017.385507
std,11.957862,4.978163,3.346513,4.86294,173.806768,5210.102598
min,13.750000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,22.602500,1.000000,0.165000,0.00000,75.000000,0.000000
50%,28.460000,2.750000,1.000000,0.00000,160.000000,5.000000
75%,38.230000,7.207500,2.625000,3.00000,276.000000,395.500000
max,80.250000,28.000000,28.500000,67.00000,2000.000000,100000.000000

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
A1     678 non-null object
A2     678 non-null float64
A3     690 non-null float64
A4     684 non-null object
A5     684 non-null object
A6     681 non-null object
A7     681 non-null object
A8     690 non-null float64
A9     690 non-null object
A10    690 non-null object
A11    690 non-null int64
A12    690 non-null object
A13    690 non-null object
A14    677 non-null float64
A15    690 non-null int64
A16    690 non-null object
dtypes: float64(4), int64(2), object(10)
memory usage: 86.3+ KB

In [85]:
np.sum(data.isnull())

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [86]:
data.isnull().sum()

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [87]:
data.isnull().sum().sum()

67

In [88]:
data['A2'] = data['A2'].fillna((data['A2'].mean())) 
data['A14'] = data['A14'].fillna((data['A14'].mean())) 
data.isnull().any()

A1      True
A2     False
A3     False
A4      True
A5      True
A6      True
A7      True
A8     False
A9     False
A10    False
A11    False
A12    False
A13    False
A14    False
A15    False
A16    False
dtype: bool

In [89]:
data['A4'] = data.fillna(data['A4'].value_counts().index[0]) 
data['A5'] = data.fillna(data['A5'].value_counts().index[0])
data['A6'] = data.fillna(data['A6'].value_counts().index[0])
data['A7'] = data.fillna(data['A7'].value_counts().index[0])
data['A1'] = data.fillna(data['A1'].value_counts().index[0])
data.isnull().any()

A1     False
A2     False
A3     False
A4     False
A5     False
A6     False
A7     False
A8     False
A9     False
A10    False
A11    False
A12    False
A13    False
A14    False
A15    False
A16    False
dtype: bool

In [70]:
#encode labels

In [90]:
from sklearn.preprocessing import LabelEncoder

In [93]:
data['A1'] = LabelEncoder().fit_transform(data['A1']) 
data['A4'] = LabelEncoder().fit_transform(data['A4'])
data['A5'] = LabelEncoder().fit_transform(data['A5'])
data['A6'] = LabelEncoder().fit_transform(data['A6'])
data['A7'] = LabelEncoder().fit_transform(data['A7'])
data['A9'] = LabelEncoder().fit_transform(data['A9'])
data['A10'] = LabelEncoder().fit_transform(data['A10'])
data['A12'] = LabelEncoder().fit_transform(data['A12'])
data['A13'] = LabelEncoder().fit_transform(data['A13'])
data['A16'] = LabelEncoder().fit_transform(data['A16'])
data.head(15)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,30.83,0.000,1,1,1,1,1.250,1,1,1,0,0,202.0,0,0
1,0,58.67,4.460,0,0,0,0,3.040,1,1,6,0,0,43.0,560,0
2,0,24.50,0.500,0,0,0,0,1.500,1,0,0,0,0,280.0,824,0
3,1,27.83,1.540,1,1,1,1,3.750,1,1,5,1,0,100.0,3,0
4,1,20.17,5.625,1,1,1,1,1.710,1,0,0,0,2,120.0,0,0
5,1,32.08,4.000,1,1,1,1,2.500,1,0,0,1,0,360.0,0,0
6,1,33.17,1.040,1,1,1,1,6.500,1,0,0,1,0,164.0,31285,0
7,0,22.92,11.585,0,0,0,0,0.040,1,0,0,0,0,80.0,1349,0
8,1,54.42,0.500,1,1,1,1,3.960,1,0,0,0,0,180.0,314,0
9,1,42.50,4.915,1,1,1,1,3.165,1,0,0,1,0,52.0,1442,0
10,1,22.08,0.830,1,1,1,1,2.165,0,0,0,1,0,128.0,0,0
11,1,29.92,1.835,1,1,1,1,4.335,1,0,0,0,0,260.0,200,0
12,0,38.25,6.000,0,0,0,0,1.000,1,0,0,1,0,0.0,0,0
13,1,48.08,6.040,1,1,1,1,0.040,0,0,0,0,0,0.0,2690,0
14,0,45.83,10.500,0,0,0,0,5.000,1,1,7,1,0,0.0,0,0

In [27]:
from sklearn.preprocessing import StandardScaler

In [94]:
data['A2'] = StandardScaler().fit(data[['A2']]).transform(data[['A2']])
data['A3'] = StandardScaler().fit(data[['A3']]).transform(data[['A3']])
data['A8'] = StandardScaler().fit(data[['A8']]).transform(data[['A8']])
data['A11'] = StandardScaler().fit(data[['A11']]).transform(data[['A11']])
data['A13'] = StandardScaler().fit(data[['A13']]).transform(data[['A13']])
data['A14'] = StandardScaler().fit(data[['A14']]).transform(data[['A14']])
data['A15'] = StandardScaler().fit(data[['A15']]).transform(data[['A15']])
data.head()

C:\Users\suwarno\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\suwarno\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.
C:\Users\suwarno\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\suwarno\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """
C:\Users\suwarno\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\suwarno\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  import sys

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,1,-0.062321,-0.956613,1,1,1,1,-0.291083,1,1,-0.288101,0,-0.317171,0.104544,-0.195413,0
1,0,2.288101,-0.060051,0,0,0,0,0.244190,1,1,0.740830,0,-0.317171,-0.819689,-0.087852,0
2,0,-0.596738,-0.856102,0,0,0,0,-0.216324,1,0,-0.493887,0,-0.317171,0.557942,-0.037144,0
3,1,-0.315599,-0.647038,1,1,1,1,0.456505,1,1,0.535044,1,-0.317171,-0.488360,-0.194837,0
4,1,-0.962303,0.174141,1,1,1,1,-0.153526,1,0,-0.493887,0,3.270501,-0.372104,-0.195413,0

In [30]:
from sklearn.preprocessing import Normalizer

In [97]:
data['A2'] = Normalizer().fit(data[['A2']]).transform(data[['A2']])
data['A3'] = Normalizer().fit(data[['A3']]).transform(data[['A3']])
data['A8'] = Normalizer().fit(data[['A8']]).transform(data[['A8']])
data['A11'] = Normalizer().fit(data[['A11']]).transform(data[['A11']])
data['A13'] = Normalizer().fit(data[['A13']]).transform(data[['A13']])
data['A14'] = Normalizer().fit(data[['A14']]).transform(data[['A14']])
data['A15'] = Normalizer().fit(data[['A15']]).transform(data[['A15']])
data.head()

   A1   A2   A3  A4  A5  A6  A7   A8  A9  A10  A11  A12  A13  A14  A15  A16
0   1 -1.0 -1.0   1   1   1   1 -1.0   1    1 -1.0    0 -1.0  1.0 -1.0    0
1   0  1.0 -1.0   0   0   0   0  1.0   1    1  1.0    0 -1.0 -1.0 -1.0    0
2   0 -1.0 -1.0   0   0   0   0 -1.0   1    0 -1.0    0 -1.0  1.0 -1.0    0
3   1 -1.0 -1.0   1   1   1   1  1.0   1    1  1.0    1 -1.0 -1.0 -1.0    0
4   1 -1.0  1.0   1   1   1   1 -1.0   1    0 -1.0    0  1.0 -1.0 -1.0    0