In [76]:
import pandas as pd
import numpy as np

# Data Manual

In [77]:
#upah per bulan di jawa
upahjawa = pd.DataFrame ({'provinsi': ['Jawa timur','Jawa Tengah','Jawa Barat','DKI Jakarta', 'DI Yogyakarta', 'Banten'],
                         'Upah Per Bulan' :['1740630.4','1548361.6','2322030.4','3667718.4','1862649.6','3393400']})
upahjawa

        provinsi Upah Per Bulan
0     Jawa timur      1740630.4
1    Jawa Tengah      1548361.6
2     Jawa Barat      2322030.4
3    DKI Jakarta      3667718.4
4  DI Yogyakarta      1862649.6
5         Banten        3393400

In [78]:
#pengeluaran rata-rata per bulan di jawa
pengeluaranjawa = pd.DataFrame ({'provinsi': ['Jawa timur','Jawa Tengah','Jawa Barat','DKI Jakarta', 'DI Yogyakarta', 'Banten'],
                         'pengeluaran' :['870412','756720','983877','1876648','1070962','1135256']})

In [79]:
pengeluaranjawa

        provinsi pengeluaran
0     Jawa timur      870412
1    Jawa Tengah      756720
2     Jawa Barat      983877
3    DKI Jakarta     1876648
4  DI Yogyakarta     1070962
5         Banten     1135256

In [86]:
banding = pd.merge(upahjawa,pengeluaranjawa, on='provinsi')
banding

        provinsi Upah Per Bulan pengeluaran
0     Jawa timur      1740630.4      870412
1    Jawa Tengah      1548361.6      756720
2     Jawa Barat      2322030.4      983877
3    DKI Jakarta      3667718.4     1876648
4  DI Yogyakarta      1862649.6     1070962
5         Banten        3393400     1135256

# Tabel

In [68]:
pengeluaran = pd.read_csv('Rata-Rata Pengeluaran per Kapita Sebulan Menurut Provinsi dan Kelompok Barang(rupiah), 2016.csv')

In [17]:
pengeluaran

                     Provinsi  Makanan  Non Makanan    Total
0                        Aceh   451952       356142   808094
1              Sumatera Utara   472220       381537   853757
2              Sumatera Barat   537236       447789   985025
3                        Riau   556747       528018  1084765
4                       Jambi   464381       439908   904289
5            Sumatera Selatan   446364       393348   839712
6                    Bengkulu   447384       447410   894794
7                     Lampung   412617       376444   789061
8   Kepulauan Bangka Belitung   596381       615498  1211879
9              Kepulauan Riau   681525       783597  1465122
10                DKI Jakarta   692207      1184441  1876648
11                 Jawa Barat   477814       506063   983877
12                Jawa Tengah   371605       385115   756720
13              DI Yogyakarta   434004       636958  1070962
14                 Jawa Timur   427191       443221   870412
15                     Banten   532389       602867  1135256
16                       Bali   465993       633569  1099562
17        Nusa Tenggara Barat   410112       350529   760641
18        Nusa Tenggara Timur   312312       264315   576627
19           Kalimantan Barat   451222       409006   860228
20          Kalimantan Tengah   546306       498464  1044770
21         Kalimantan Selatan   531127       516120  1047247
22           Kalimantan Timur   587920       709006  1296926
23        Kalimantan Utara 1)   549467       608307  1157774
24             Sulawesi Utara   484938       472520   957458
25            Sulawesi Tengah   420182       422730   842912
26           Sulawesi Selatan   407389       452140   859529
27          Sulawesi Tenggara   371733       434835   806568
28                  Gorontalo   380934       393591   774525
29             Sulawesi Barat   357586       328356   685942
30                     Maluku   431484       414623   846107
31               Maluku Utara   413580       395791   809371
32                Papua Barat   482624       526777  1009401
33                      Papua   524592       411795   936387
34                  Indonesia   460639       485619   946258

In [69]:
upah=pd.read_csv('upah rata2 perjam.csv')

In [19]:
upah

                     Provinsi  Upah Per Jam
0                        Aceh      13579.24
1              Sumatera Utara      11609.10
2              Sumatera Barat      13192.31
3                        Riau      15097.55
4                       Jambi      12861.89
5            Sumatera Selatan      12793.69
6                    Bengkulu      12656.76
7                     Lampung      10379.75
8   Kepulauan Bangka Belitung      13963.52
9              Kepulauan Riau      18594.72
10                DKI Jakarta      22923.24
11                 Jawa Barat      14512.69
12                Jawa Tengah       9677.26
13              DI Yogyakarta      11641.56
14                 Jawa Timur      10878.94
15                     Banten      21208.75
16                       Bali      14637.69
17        Nusa Tenggara Barat      10627.88
18        Nusa Tenggara Timur      13036.58
19           Kalimantan Barat      13086.39
20          Kalimantan Tengah      16644.78
21         Kalimantan Selatan      14894.42
22           Kalimantan Timur      20182.07
23        Kalimantan Utara 1)      18857.62
24             Sulawesi Utara      16281.73
25            Sulawesi Tengah      13210.48
26           Sulawesi Selatan      14368.11
27          Sulawesi Tenggara      19483.90
28                  Gorontalo      13111.55
29             Sulawesi Barat      12690.00
30                     Maluku      16332.07
31               Maluku Utara      15739.89
32                Papua Barat      18926.27
33                      Papua      22190.50
34                  Indonesia      13888.50

In [20]:
perbandingan = pd.merge(upah, pengeluaran, on='Provinsi')

In [21]:
perbandingan

                     Provinsi  Upah Per Jam  Makanan  Non Makanan    Total
0                        Aceh      13579.24   451952       356142   808094
1              Sumatera Utara      11609.10   472220       381537   853757
2              Sumatera Barat      13192.31   537236       447789   985025
3                        Riau      15097.55   556747       528018  1084765
4                       Jambi      12861.89   464381       439908   904289
5            Sumatera Selatan      12793.69   446364       393348   839712
6                    Bengkulu      12656.76   447384       447410   894794
7                     Lampung      10379.75   412617       376444   789061
8   Kepulauan Bangka Belitung      13963.52   596381       615498  1211879
9              Kepulauan Riau      18594.72   681525       783597  1465122
10                DKI Jakarta      22923.24   692207      1184441  1876648
11                 Jawa Barat      14512.69   477814       506063   983877
12                Jawa Tengah       9677.26   371605       385115   756720
13              DI Yogyakarta      11641.56   434004       636958  1070962
14                 Jawa Timur      10878.94   427191       443221   870412
15                     Banten      21208.75   532389       602867  1135256
16                       Bali      14637.69   465993       633569  1099562
17        Nusa Tenggara Barat      10627.88   410112       350529   760641
18        Nusa Tenggara Timur      13036.58   312312       264315   576627
19           Kalimantan Barat      13086.39   451222       409006   860228
20          Kalimantan Tengah      16644.78   546306       498464  1044770
21         Kalimantan Selatan      14894.42   531127       516120  1047247
22           Kalimantan Timur      20182.07   587920       709006  1296926
23        Kalimantan Utara 1)      18857.62   549467       608307  1157774
24             Sulawesi Utara      16281.73   484938       472520   957458
25            Sulawesi Tengah      13210.48   420182       422730   842912
26           Sulawesi Selatan      14368.11   407389       452140   859529
27          Sulawesi Tenggara      19483.90   371733       434835   806568
28                  Gorontalo      13111.55   380934       393591   774525
29             Sulawesi Barat      12690.00   357586       328356   685942
30                     Maluku      16332.07   431484       414623   846107
31               Maluku Utara      15739.89   413580       395791   809371
32                Papua Barat      18926.27   482624       526777  1009401
33                      Papua      22190.50   524592       411795   936387
34                  Indonesia      13888.50   460639       485619   946258

In [23]:
#upah per bulan jika bekerja 8 jam selama 20 hari
upah ['Upah Per Bulan'] =upah['Upah Per Jam']*8*20

In [24]:
upah

                     Provinsi  Upah Per Jam  Upah Per Bulan
0                        Aceh      13579.24       2172678.4
1              Sumatera Utara      11609.10       1857456.0
2              Sumatera Barat      13192.31       2110769.6
3                        Riau      15097.55       2415608.0
4                       Jambi      12861.89       2057902.4
5            Sumatera Selatan      12793.69       2046990.4
6                    Bengkulu      12656.76       2025081.6
7                     Lampung      10379.75       1660760.0
8   Kepulauan Bangka Belitung      13963.52       2234163.2
9              Kepulauan Riau      18594.72       2975155.2
10                DKI Jakarta      22923.24       3667718.4
11                 Jawa Barat      14512.69       2322030.4
12                Jawa Tengah       9677.26       1548361.6
13              DI Yogyakarta      11641.56       1862649.6
14                 Jawa Timur      10878.94       1740630.4
15                     Banten      21208.75       3393400.0
16                       Bali      14637.69       2342030.4
17        Nusa Tenggara Barat      10627.88       1700460.8
18        Nusa Tenggara Timur      13036.58       2085852.8
19           Kalimantan Barat      13086.39       2093822.4
20          Kalimantan Tengah      16644.78       2663164.8
21         Kalimantan Selatan      14894.42       2383107.2
22           Kalimantan Timur      20182.07       3229131.2
23        Kalimantan Utara 1)      18857.62       3017219.2
24             Sulawesi Utara      16281.73       2605076.8
25            Sulawesi Tengah      13210.48       2113676.8
26           Sulawesi Selatan      14368.11       2298897.6
27          Sulawesi Tenggara      19483.90       3117424.0
28                  Gorontalo      13111.55       2097848.0
29             Sulawesi Barat      12690.00       2030400.0
30                     Maluku      16332.07       2613131.2
31               Maluku Utara      15739.89       2518382.4
32                Papua Barat      18926.27       3028203.2
33                      Papua      22190.50       3550480.0
34                  Indonesia      13888.50       2222160.0

In [25]:
perbandingan

                     Provinsi  Upah Per Jam  Makanan  Non Makanan    Total
0                        Aceh      13579.24   451952       356142   808094
1              Sumatera Utara      11609.10   472220       381537   853757
2              Sumatera Barat      13192.31   537236       447789   985025
3                        Riau      15097.55   556747       528018  1084765
4                       Jambi      12861.89   464381       439908   904289
5            Sumatera Selatan      12793.69   446364       393348   839712
6                    Bengkulu      12656.76   447384       447410   894794
7                     Lampung      10379.75   412617       376444   789061
8   Kepulauan Bangka Belitung      13963.52   596381       615498  1211879
9              Kepulauan Riau      18594.72   681525       783597  1465122
10                DKI Jakarta      22923.24   692207      1184441  1876648
11                 Jawa Barat      14512.69   477814       506063   983877
12                Jawa Tengah       9677.26   371605       385115   756720
13              DI Yogyakarta      11641.56   434004       636958  1070962
14                 Jawa Timur      10878.94   427191       443221   870412
15                     Banten      21208.75   532389       602867  1135256
16                       Bali      14637.69   465993       633569  1099562
17        Nusa Tenggara Barat      10627.88   410112       350529   760641
18        Nusa Tenggara Timur      13036.58   312312       264315   576627
19           Kalimantan Barat      13086.39   451222       409006   860228
20          Kalimantan Tengah      16644.78   546306       498464  1044770
21         Kalimantan Selatan      14894.42   531127       516120  1047247
22           Kalimantan Timur      20182.07   587920       709006  1296926
23        Kalimantan Utara 1)      18857.62   549467       608307  1157774
24             Sulawesi Utara      16281.73   484938       472520   957458
25            Sulawesi Tengah      13210.48   420182       422730   842912
26           Sulawesi Selatan      14368.11   407389       452140   859529
27          Sulawesi Tenggara      19483.90   371733       434835   806568
28                  Gorontalo      13111.55   380934       393591   774525
29             Sulawesi Barat      12690.00   357586       328356   685942
30                     Maluku      16332.07   431484       414623   846107
31               Maluku Utara      15739.89   413580       395791   809371
32                Papua Barat      18926.27   482624       526777  1009401
33                      Papua      22190.50   524592       411795   936387
34                  Indonesia      13888.50   460639       485619   946258

In [26]:
perbandingan = pd.merge(upah, pengeluaran, on='Provinsi')

In [27]:
perbandingan

,Provinsi,Upah Per Jam,Upah Per Bulan,Makanan,Non Makanan,Total
0,Aceh,13579.24,2172678.4,451952,356142,808094
1,Sumatera Utara,11609.10,1857456.0,472220,381537,853757
2,Sumatera Barat,13192.31,2110769.6,537236,447789,985025
3,Riau,15097.55,2415608.0,556747,528018,1084765
4,Jambi,12861.89,2057902.4,464381,439908,904289
5,Sumatera Selatan,12793.69,2046990.4,446364,393348,839712
6,Bengkulu,12656.76,2025081.6,447384,447410,894794
7,Lampung,10379.75,1660760.0,412617,376444,789061
8,Kepulauan Bangka Belitung,13963.52,2234163.2,596381,615498,1211879
9,Kepulauan Riau,18594.72,2975155.2,681525,783597,1465122
10,DKI Jakarta,22923.24,3667718.4,692207,1184441,1876648
11,Jawa Barat,14512.69,2322030.4,477814,506063,983877
12,Jawa Tengah,9677.26,1548361.6,371605,385115,756720
13,DI Yogyakarta,11641.56,1862649.6,434004,636958,1070962
14,Jawa Timur,10878.94,1740630.4,427191,443221,870412
15,Banten,21208.75,3393400.0,532389,602867,1135256
16,Bali,14637.69,2342030.4,465993,633569,1099562
17,Nusa Tenggara Barat,10627.88,1700460.8,410112,350529,760641
18,Nusa Tenggara Timur,13036.58,2085852.8,312312,264315,576627
19,Kalimantan Barat,13086.39,2093822.4,451222,409006,860228
20,Kalimantan Tengah,16644.78,2663164.8,546306,498464,1044770
21,Kalimantan Selatan,14894.42,2383107.2,531127,516120,1047247
22,Kalimantan Timur,20182.07,3229131.2,587920,709006,1296926
23,Kalimantan Utara 1),18857.62,3017219.2,549467,608307,1157774
24,Sulawesi Utara,16281.73,2605076.8,484938,472520,957458
25,Sulawesi Tengah,13210.48,2113676.8,420182,422730,842912
26,Sulawesi Selatan,14368.11,2298897.6,407389,452140,859529
27,Sulawesi Tenggara,19483.90,3117424.0,371733,434835,806568
28,Gorontalo,13111.55,2097848.0,380934,393591,774525
29,Sulawesi Barat,12690.00,2030400.0,357586,328356,685942
30,Maluku,16332.07,2613131.2,431484,414623,846107
31,Maluku Utara,15739.89,2518382.4,413580,395791,809371
32,Papua Barat,18926.27,3028203.2,482624,526777,1009401
33,Papua,22190.50,3550480.0,524592,411795,936387
34,Indonesia,13888.50,2222160.0,460639,485619,946258

In [30]:
#hanya perbandingan upah dan pengeluaran seluruh provinsi tanpa se Indonesia
perbandinganprov = perbandingan.drop([34])
perbandinganprov

,Provinsi,Upah Per Jam,Upah Per Bulan,Makanan,Non Makanan,Total
0,Aceh,13579.24,2172678.4,451952,356142,808094
1,Sumatera Utara,11609.10,1857456.0,472220,381537,853757
2,Sumatera Barat,13192.31,2110769.6,537236,447789,985025
3,Riau,15097.55,2415608.0,556747,528018,1084765
4,Jambi,12861.89,2057902.4,464381,439908,904289
5,Sumatera Selatan,12793.69,2046990.4,446364,393348,839712
6,Bengkulu,12656.76,2025081.6,447384,447410,894794
7,Lampung,10379.75,1660760.0,412617,376444,789061
8,Kepulauan Bangka Belitung,13963.52,2234163.2,596381,615498,1211879
9,Kepulauan Riau,18594.72,2975155.2,681525,783597,1465122
10,DKI Jakarta,22923.24,3667718.4,692207,1184441,1876648
11,Jawa Barat,14512.69,2322030.4,477814,506063,983877
12,Jawa Tengah,9677.26,1548361.6,371605,385115,756720
13,DI Yogyakarta,11641.56,1862649.6,434004,636958,1070962
14,Jawa Timur,10878.94,1740630.4,427191,443221,870412
15,Banten,21208.75,3393400.0,532389,602867,1135256
16,Bali,14637.69,2342030.4,465993,633569,1099562
17,Nusa Tenggara Barat,10627.88,1700460.8,410112,350529,760641
18,Nusa Tenggara Timur,13036.58,2085852.8,312312,264315,576627
19,Kalimantan Barat,13086.39,2093822.4,451222,409006,860228
20,Kalimantan Tengah,16644.78,2663164.8,546306,498464,1044770
21,Kalimantan Selatan,14894.42,2383107.2,531127,516120,1047247
22,Kalimantan Timur,20182.07,3229131.2,587920,709006,1296926
23,Kalimantan Utara 1),18857.62,3017219.2,549467,608307,1157774
24,Sulawesi Utara,16281.73,2605076.8,484938,472520,957458
25,Sulawesi Tengah,13210.48,2113676.8,420182,422730,842912
26,Sulawesi Selatan,14368.11,2298897.6,407389,452140,859529
27,Sulawesi Tenggara,19483.90,3117424.0,371733,434835,806568
28,Gorontalo,13111.55,2097848.0,380934,393591,774525
29,Sulawesi Barat,12690.00,2030400.0,357586,328356,685942
30,Maluku,16332.07,2613131.2,431484,414623,846107
31,Maluku Utara,15739.89,2518382.4,413580,395791,809371
32,Papua Barat,18926.27,3028203.2,482624,526777,1009401
33,Papua,22190.50,3550480.0,524592,411795,936387

In [41]:
#menghapus upah per hari
p1 = perbandingan.drop(['Upah Per Jam'],axis = 1)
p1

                     Provinsi  Upah Per Bulan  Makanan  Non Makanan    Total
0                        Aceh       2172678.4   451952       356142   808094
1              Sumatera Utara       1857456.0   472220       381537   853757
2              Sumatera Barat       2110769.6   537236       447789   985025
3                        Riau       2415608.0   556747       528018  1084765
4                       Jambi       2057902.4   464381       439908   904289
5            Sumatera Selatan       2046990.4   446364       393348   839712
6                    Bengkulu       2025081.6   447384       447410   894794
7                     Lampung       1660760.0   412617       376444   789061
8   Kepulauan Bangka Belitung       2234163.2   596381       615498  1211879
9              Kepulauan Riau       2975155.2   681525       783597  1465122
10                DKI Jakarta       3667718.4   692207      1184441  1876648
11                 Jawa Barat       2322030.4   477814       506063   983877
12                Jawa Tengah       1548361.6   371605       385115   756720
13              DI Yogyakarta       1862649.6   434004       636958  1070962
14                 Jawa Timur       1740630.4   427191       443221   870412
15                     Banten       3393400.0   532389       602867  1135256
16                       Bali       2342030.4   465993       633569  1099562
17        Nusa Tenggara Barat       1700460.8   410112       350529   760641
18        Nusa Tenggara Timur       2085852.8   312312       264315   576627
19           Kalimantan Barat       2093822.4   451222       409006   860228
20          Kalimantan Tengah       2663164.8   546306       498464  1044770
21         Kalimantan Selatan       2383107.2   531127       516120  1047247
22           Kalimantan Timur       3229131.2   587920       709006  1296926
23        Kalimantan Utara 1)       3017219.2   549467       608307  1157774
24             Sulawesi Utara       2605076.8   484938       472520   957458
25            Sulawesi Tengah       2113676.8   420182       422730   842912
26           Sulawesi Selatan       2298897.6   407389       452140   859529
27          Sulawesi Tenggara       3117424.0   371733       434835   806568
28                  Gorontalo       2097848.0   380934       393591   774525
29             Sulawesi Barat       2030400.0   357586       328356   685942
30                     Maluku       2613131.2   431484       414623   846107
31               Maluku Utara       2518382.4   413580       395791   809371
32                Papua Barat       3028203.2   482624       526777  1009401
33                      Papua       3550480.0   524592       411795   936387
34                  Indonesia       2222160.0   460639       485619   946258